.addFriend {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.addFriend__header{
    text-align: center;
}

.addFriend__form__input {
    margin-right: 25px;
    display: flex;
    justify-content: center;
}

.addFriend__form__button {
    display: flex;
    justify-content: center;
}